{% extends 'index.html' %}
{% block content %}

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-user"></i> Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
		</div>
		<div class="options text-center text-md-left mt-1">
                <p>Forgot <a href="#" class="blue-text">Email?</a></p>
              </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
		</div>
		<div class="options text-center text-md-left mt-1">
                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
              </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary btn-lg">Login</button>
	  </div>
	  
    </div>
  </div>
</div>

<div class="imgtop">
<img src="../static/img/smile.jpg" class="d-block w-100"alt="Responsive image">
<h1 class="display-4">A Credit Card for every need</h1>
</div>
<div style="background-color: #005587;">
    <div class="container ng-scope">

      <!-- Grid row-->
    <div class="d-flex justify-content-around py-4">
        <a class="nav-link2" href="#">Featured Cards</a>
        <a class="nav-link2" href="#">Categories</a>
        <a class="nav-link2" href="#">Promotions</a>
        <a class="nav-link2" href="#">Card Benefits</a>
    </div>
</div>
</div>
<br>
<br>

<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center">

		<!--Section heading-->
		<h2 class="section-heading h2 pt-4">Featured Credit Cards</h2>
<br>
<br>
<br>
		<div class="row">
	  
		  <!--Grid column-->
		  <div class="col-lg-4 col-md-12 mb-4">
	  
			<!--Card-->
			<div class="card1 testimonial-card">
	  
			  <!--Background color-->
			  <div class="card-up teal lighten-2">
			  </div>
	  
			  <!--Avatar-->
			  <div class="avatar1 mx-auto white"><img src="../static/img/credit-card.jpg" alt="avatar mx-auto white" class="img-fluid4">
			  </div>
	  
			  <div class="card-body">
                <!--Name-->
                <h4 class="card-title mt-1">MGM Bank</h4>
                <h4 class="card-title mt-1">Platinum Rewards Card</h4>
                <button type="button" class="btn btn-primary btn-rounded">Apply Now</button>
				<hr>
				<!--Quotation-->
				<ul>
                    <div class="credittext">
                    <li><p>20,000 bonus points when you spend $2,000 in the first 3 months of account opening.</p></li>
                    <li><p>2 points per $1 spent on eligible gas and dining purchases, up to $2,000 in combined spending each quarter.</p></li>
                    <li><p>10% anniversary points added for bonus every year, click link below for more information.</p></li>
                    <li><p>0% introductory APR on transfers for 12 months from current date of first transfer when transfers are completed within 90 days from date of account opening. After that APR applies</p></li>
                    <li><p>No annual fee</p></li>
                    </div>
                </ul>
				<a class="nav-link4" href="#">Learn More  <i class="far fa-arrow-alt-circle-right"></i></a>
			  </div>
	  
			</div>
			<!--Card-->
	  
		  </div>
		  <!--Grid column-->
	  
		  <!--Grid column-->
		  <div class="col-lg-4 col-md-12 mb-4">
	  
			<!--Card-->
			<div class="card1 testimonial-card">
	  
			  <!--Background color-->
			  <div class="card-up blue lighten-2">
			  </div>
	  
			  <!--Avatar-->
			  <div class="avatar1 mx-auto white"><img src="../static/img/debit-card.jpg" alt="avatar mx-auto white" class="img-fluid5">
			  </div>
	  
			  <div class="card-body">
                <!--Name-->
                <h4 class="card-title mt-1">MGM Bank</h4>
                <h4 class="card-title mt-1">Cash Back Rewards Card</h4>
                <button type="button" class="btn btn-primary btn-rounded">Apply Now</button>
				<hr>
				<!--Quotation-->
				<ul>
                    <div class="credittext">
                    <li><p>$150 cash back bonus when you spend $2,000 in the first 3 months of account opening.</p></li>
                    <li><p>2% cash back on eligible gas and dining purchases, up to $2,500 in combined spending each quarter, 1% cash back on all other purchases.</p></li>
                    <li><p>0% introductory APR on transfers for 12 months from current date of first transfer when transfers are completed within 90 days from date of account opening. After that APR applies</p></li>
                    <li><p>No annual fee</p></li>
                    </div>
                </ul>
				<a class="nav-link4" href="#">Learn More  <i class="far fa-arrow-alt-circle-right"></i></a>
			  </div>
	  
			</div>
			<!--Card-->
	  
		  </div>
		  <!--Grid column-->
	  
		  <!--Grid column-->
		  <div class="col-lg-4 col-md-12 mb-4">
	  
			<!--Card-->
			<div class="card1 testimonial-card">
	  
			  <!--Background color-->
			  <div class="card-up deep-purple lighten-2"></div>
	  
			  <!--Avatar-->
			  <div class="avatar1 mx-auto white"><img src="../static/img/gold-credit-card.jpg" alt="avatar mx-auto white" class="img-fluid6">
			  </div>
	  
			  <div class="card-body">
                <!--Name-->
                <h4 class="card-title mt-1">MGM Bank</h4>
                <h4 class="card-title mt-1">Gold Exclusive Card</h4>
                <button type="button" class="btn btn-primary btn-rounded">Apply Now</button>
                <hr>
				<!--Quotation-->
				<ul>
                    <div class="credittext">
                    <li><p>30,000 bonus points when you spend $4,000 in the first 3 months of account opening.</p></li>
                    <li><p>3 points per $1 spent on eligible gas and dining purchases, up to $2,000 in combined spending each quarter.</p></li>
                    <li><p>Complimentary Priority Pass via gold membership and 2 free visits per year.</p></li>
                    <li><p>15% anniversary points added for bonus every year, click link below for more information.</p></li>
                    <li><p>No Foreign Transaction Fees</p></li>
                    <li><p>0% introductory APR on transfers for 12 months from current date of first transfer when transfers are completed within 90 days from date of account opening. After that APR applies</p></li>
                    <li><p>Low annual fee of 100$ (first year free)</p></li>
                    </div>
                </ul>
                <a class="nav-link4" href="#">Learn More  <i class="far fa-arrow-alt-circle-right"></i></a>
				</div>
	  
			</div>
			<!--Card-->
	  
		  </div>
		  <!--Grid column-->
	  
		</div>
	  
		</section>
		
{% endblock content %}