<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MGM BANK</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="/mgmbanking/static/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/mgmbank.png">
</head>
<body>

<!-- Navigation --> 
	<nav class="navbar navbar-expand-md bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="index.html"><img src="../static/img/mgmbank.png"></a>
		<a class="logo-title"><h1>MGM BANK</h1></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('home') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('creditcard') }}">Credit Cards</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Checking & Savings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Auto Loans</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Business</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Commercial</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-target=""><i class="fas fa-search"></i> Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target="#modalLoginForm" href="{{ url_for('login') }}"> <i class="far fa-user"></i>Login</a>
				</li>
			</ul>
		</div>
	</div>
	</nav>
<!-- Add this include for your modal, I've also seperated your HTML files to be more condusive to the flask template engine.
	I've created a "home.html" which serves as the home page content. Otherwise, you would have the same content showing up on multiple pages.

	Keep that in mind for the future.
-->
{% include 'login.html' %}



	{% block content %}{% endblock content %}
</body>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

		<div style="background-color: #005587;">
		  <div class="container">
	  
			<!-- Grid row-->
			<div class="row py-4 d-flex align-items-center">
	  
			  <!-- Grid column -->
			  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
				<h5 class="social">Get connected with us</h5>
			  </div>
			  <!-- Grid column -->
	  
			  <!-- Grid column -->
			  <div class="col-md-6 col-lg-7 text-center text-md-right">
	  
				<!-- Facebook -->
				
				<a href="#" class="social">
				  <i class="fab fa-facebook-f white-text mr-4"> </i>
				</a>
				<!-- Twitter -->
				<a href="#" class="social">
				  <i class="fab fa-twitter white-text mr-4"> </i>
				</a>
				<!-- Google +-->
				<a href="#" class="social">
				  <i class="fab fa-google-plus-g white-text mr-4"> </i>
				</a>
				<!--Linkedin -->
				<a href="#" class="social">
				  <i class="fab fa-linkedin-in white-text mr-4"> </i>
				</a>
				<!--Instagram-->
				<a href="#" class="social">
				  <i class="fab fa-instagram white-text"> </i>
				</a>
				</div>
			  
			  <!-- Grid column -->
	  
			</div>
			<!-- Grid row-->
	  
		  </div>
		</div>
	  
		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">
	  
		  <!-- Grid row -->
		  <div class="row mt-3">
	  
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
	  
			  <!-- Content -->
			<h6 class="text-uppercase font-weight-bold">MGM</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
				<a href="#!">Locations</a>
			</p>
			<p>
				<a href="#!">ATM's</a>
			</p>
			<p>
				<a href="#!">APP</a>
			</p>
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
	  
			  <!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Products</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
				<a href="#!">Checking Accounts</a>
			</p>
			<p>
				<a href="#!">Savings Accounts & CDs</a>
			</p>
			<p>
				<a href="#!">Prepaid Card</a>
			</p>
			<p>
				<a href="#!">Credit Cards</a>
			</p>
			<p>
				<a href="#!">Mortgages</a>
			</p>
			<p>
				<a href="#">Car Buying & Loans</a>
			</p>
	  
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
	  
			  <!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Useful links</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			<a href="contact.html">Contact Us</a>
			</p>
			<p>
			<a href="#!">Privacy</a>
			</p>
			<p>
			<a href="#!">Legal</a>
			</p>
			<p>
			<a href="#!">Careers</a>
			</p>
			<p>
			<a href="#!">Security</a>
			</p>
			<p>
			<a href="#!">Support</a>
			</p>
				
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
	  
			  <!-- Links -->
			  <h6 class="text-uppercase font-weight-bold">Contact</h6>
			  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			  <p>
				<i class="fas fa-home mr-3"></i> 2443 New York, NY 10012, US</p>
			  <p>
				<i class="fas fa-envelope mr-3"></i> ContactUs@MGMBank.com</p>
			  <p>
				<i class="fas fa-phone mr-3"></i> + 1-800-234-5678</p>
			  <p>
				<i class="fas fa-print mr-3"></i> + 1-800-567-8968</p>
	  
			</div>
			<!-- Grid column -->
	  
		  </div>
		  <!-- Grid row -->
	  
		</div>
		<!-- Footer Links -->
	  
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2019 Copyright:
		  <a href=""> MGMbank.com</a>
		</div>
		<!-- Copyright -->
	  
	  </footer>
	  <!-- Footer -->

</html>
