<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hubbard Title</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/ICON.png">
</head>
<body>

<!-- Navigation -->
	<nav class="navbar navbar-expand-md bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ url_for('home') }}"><img src="../static/img/HUBBARD.jpg"></a>
		<a class="logo-title"><h1></h1></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="dropdown active">
					<a class="nav-link" href="#">About Hubbard</a>
					<div class="dropdown-content">
					  <a class="droplinks" href="#">Who We Are</a>
					  <a class="droplinks" href="#">News</a>
					  <a class="droplinks" href="#">Opportunities</a>
					  <a class="droplinks" href="#">Contact Hubbard Title</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Offices</a>
				</li>
				<li class="dropdown">
					<a class="nav-link" href="#">Clients</a>
					<div class="dropdown-content">
					  <a class="droplinks" href="#">Attorneys</a>
					  <a class="droplinks" href="#">Attorney Events</a>
					  <a class="droplinks" href="#">Brokers</a>
					  <a class="droplinks" href="#">Lenders</a>
					  <a class="droplinks" href="#">Commercial</a>
					  <a class="droplinks" href="#">Construction</a>
					</div>
				</li>
				<li class="dropdown">
					<a class="nav-link" href="#">Resources</a>
					<div class="dropdown-content">
					  <a class="droplinks" href="#">Net Sheets</a>
					  <a class="droplinks" href="#">PT Live</a>
					  <a class="droplinks" href="#">Proper Education</a>
					  <a class="droplinks" href="#">Underwriters</a>
					  <a class="droplinks" href="#">Useful Links</a>
					  <a class="droplinks" href="#">Documents/Forms</a>
					</div>
				</li>
				<li class="dropdown">
					<a class="nav-link" href="#">Community</a>
					<div class="dropdown-content">
					  <a class="droplinks" href="#">Hubbard Giving</a>
					  <a class="droplinks" href="#">Hubbard Kindness</a>
					</div>
				</li>
				<li class="nav-item">
				<a href="{{ url_for('login') }}">
					<button type="button" class="btn-1 btn-outline-dark"><a-1>Login/Order Title</a-1></button>
				</a>
				</li>

			</ul>
		</div>
	</div>
	</nav>
</div>


<!--- Image Slider -->

	<div id="demo" class="carousel slide" data-ride="carousel">

		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
		</ul>

		<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="../static/img/hubbardoffice.jpg" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h1 class="display-2">Providing The Best Real Estate Closing Experience</h1>
			</div>
		  	</div>
		<div class="carousel-item">
			<img src="../static/img/servicecara.jpg" class="d-block w-100 second-img" alt="...">
			<div class="carousel-caption">
				<h3 class="service">Service Is Our Business</h3>
			</div>
		  	</div>
		<div class="carousel-item">
			<img src="../static/img/meetingtable.jpg" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h2 class="display-3">Excellence Is Our Priority</h2>
			</div>
		  </div>
		
		</div>

	</div>

	<br>
	<br>

<p class="textundercar">Hubbard Title is a full-service title insurance agency serving the residential and commercial real estate industries throughout the Chicagoland area. The agency is known for its’ exceptional level of customer service, and providing dedicated staff for each closing to ensure greater efficiency and shorter closing times.
	<br> 
	<br>
	The closing process is a true team initiative. From our very own Hubbard Title team, to all our clients - Attorneys, Real Estate Brokers, Mortgage Lenders, Developers and Commercial Teams - the trust and respect we have fostered with them is what makes for a successful closing experience.</p>
	<br>
	<br>
<!--Section: Testimonials v.1-->

	<section class="section pb-3 text-center">

		<!--Section heading-->
		<h2 class="section-heading h2 pt-4">We've Got You Covered</h2>	
		<br>

		<div class="row">
	  
		  <!--Grid column-->
			<div class="col-lg-4 col-md-12 mb-4">
		
				<!--Card-->
				
					<div class="card1 testimonial-card">
			
						<!--Background color-->
						<div class="card-up teal lighten-2"></div>
				
							<!--Avatar-->
						
						<div class="avatar mx-auto white"><img src="../static/img/attorney.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid"></div>
						
				
						<div class="card-body">
							<!--Name-->
							<h4 class="card-title mt-1">ATTORNEYS</h4>
							<hr>
							<!--Quotation-->
							<p>Hubbard Title works with attorney agents throughout the Chicagoland area. We are proud to have devoted legal teams that work with us regularly and new attorneys joining our team each day. We value their trust and commitment to our team and sharing their business with us.</p>
							<button type="button" class="btn btn-outline-dark">Learn More</button>
						</div>
		
					</div>
				<!--Card-->
	  
			</div>
		  <!--Grid column-->
	  
		  <!--Grid column-->
		  <div class="col-lg-4 col-md-12 mb-4">
	  
				<!--Card-->
				<div class="card1 testimonial-card">
		
					<!--Background color-->
					<div class="card-up blue lighten-2"></div>
			
					<!--Avatar-->
					
					<div class="avatar mx-auto white"><img src="../static/img/realestate.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid"></div>
			
					<div class="card-body">
						<!--Name-->
						<h4 class="card-title mt-1">REAL ESTATE BROKERS</h4>
						<hr>
						<!--Quotation-->
						<p>A broker’s success depends on their clients home-buying or selling experience. Brokers set the bar high for client service. Hubbard Title knows the importance of carrying out that service to the very last step. That's why we are committed to making the closing process seamless.</p>
						<button type="button" class="btn btn-outline-dark">Learn More</button>
					</div>
		
				</div>
				<!--Card-->
	  
		  	</div>
		  <!--Grid column-->
	  
			<!--Grid column-->
			<div class="col-lg-4 col-md-12 mb-4">
		
					<!--Card-->
					<div class="card1 testimonial-card">
			
						<!--Background color-->
						<div class="card-up deep-purple lighten-2"></div>
				
						<!--Avatar-->
						
						<div class="avatar mx-auto white"><img src="../static/img/lenders.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid"></div>
				
						<div class="card-body">
							<!--Name-->
							<h4 class="card-title mt-1">LENDERS</h4>
							<hr>
							<!--Quotation-->
							<p>With our efficient and knowledgeable team, lenders know that we are able to  offer clients an industry-best experience. Our team plays center stage at the closing table - all paper work is prepped and ready in advance to make sure the closing process is as  stress free as possible.</p>
							<button type="button" class="btn btn-outline-dark">Learn More</button>
						</div>
			
					</div>
					<!--Card-->
		
			</div>
		  <!--Grid column-->
	  
		</div>
		
	  
	</section>
	  <!--Section: Testimonials v.1-->
<br>
<br>
<br>
<br>
<div class="thecontainer">
<div class="container1">
	<h2 class="containerheader">Our Mission</h2>
	<p class="containersub">In everything we do, we seek to deliver the highest quality product and support. We celebrate our successes with humility, but never lose sight of our pursuit of personal improvement. We consistently focus on bettering ourselves and our business through hard work, dedication and philanthropy and appreciate the efforts of others who do the same. </p>
	<img class="img1" src="../static/img/ourmission.jpg">
</div>  
<div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="maincontainer">
<img class="lightbulb" src="../static/img/lightbulb.jpg">
<div class="thecontainer2">
	<h2 class="containerheader2">Experience Is Our Differentiator</h2>
	<p class="containersub2">We recognize a real estate transaction can be a significant and complex event. We are here to guide clients, brokers, attorneys and lenders through the closing process, providing peace of mind that every step is handled with care.</p>
</div>
</div>


</body>
<br>
<br>
<br>
<br>
<br>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

		<div style="background-color: #0b233b;">
		  <div class="container">
	  
			<!-- Grid row-->
			<div class="row py-4 d-flex align-items-center">
	  
			  <!-- Grid column -->
			  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
				<h5 class="social">Get connected with us</h5>
			  </div>
			  <!-- Grid column -->
	  
			  <!-- Grid column -->
			  <div class="col-md-6 col-lg-7 text-center text-md-right">
	  
				<!-- Facebook -->
				
				<a href="#" class="social">
				  <i class="fab fa-facebook-f white-text mr-4"> </i>
				</a>
				<!-- Twitter -->
				<a href="#" class="social">
				  <i class="fab fa-twitter white-text mr-4"> </i>
				</a>
				<!-- Google +-->
				<a href="#" class="social">
				  <i class="fab fa-google-plus-g white-text mr-4"> </i>
				</a>
				<!--Linkedin -->
				<a href="#" class="social">
				  <i class="fab fa-linkedin-in white-text mr-4"> </i>
				</a>
				<!--Instagram-->
				<a href="#" class="social">
				  <i class="fab fa-instagram white-text"> </i>
				</a>
				</div>
			  
			  <!-- Grid column -->
	  
			</div>
			<!-- Grid row-->
	  
		  </div>
		</div>
	  
		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">
	  
		  <!-- Grid row -->
		  <div class="row mt-3">
	  
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
	  
			  <!-- Content -->
			<h6 class="text-uppercase font-weight-bold">Hubbard Title</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
				<a class="footertext" href="#!">Locations</a>
			</p>
			<p>
				<a class="footertext" href="#!">Place Order</a>
			</p>
			<p>
				<a class="footertext" href="#!">Agent Login</a>
			</p>
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
	  
			  <!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Services</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
				<a class="footertext" href="#!">Offices</a>
			</p>
			<p>
				<a class="footertext" href="#!">Attorneys</a>
			</p>
			<p>
				<a class="footertext" href="#!">Brokers</a>
			</p>
			<p>
				<a class="footertext" href="#!">Lenders</a>
			</p>
			<p>
				<a class="footertext" href="#!">Commercial</a>
			</p>
			<p>
				<a class="footertext" href="#">Construction</a>
			</p>
	  
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
	  
			  <!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Useful links</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			<a class="footertext" href="{{ url_for('contact') }}">Contact Us</a>
			</p>
			<p>
			<a class="footertext" href="#!">About Us</a>
			</p>
			<p>
			<a class="footertext" href="#!">Hubbard Giving</a>
			</p>
			<p>
			<a class="footertext" href="#!">Education</a>
			</p>
			<p>
			<a class="footertext" href="#!">In The News</a>
			</p>
			<p>
			<a class="footertext" href="#!">Support</a>
			</p>
				
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
	  
			  <!-- Links -->
			  <h6 class="text-uppercase font-weight-bold">Contact</h6>
			  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			  <p>
				<i class="fas fa-home mr-3"></i> 2443 New York, NY 10012, US</p>
			  <p>
				<i class="fas fa-envelope mr-3"></i> hubbardtitle@mail.com</p>
			  <p>
				<i class="fas fa-phone mr-3"></i> + 1-800-234-5678</p>
			  <p>
				<i class="fas fa-print mr-3"></i> + 1-800-567-8968</p>
	  
			</div>
			<!-- Grid column -->
	  
		  </div>
		  <!-- Grid row -->
	  
		</div>
		<!-- Footer Links -->
	  
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright
		  <a>Hubbard Title LLC</a>
		</div>
		<!-- Copyright -->
	  
	  </footer>
	  <!-- Footer -->

</html>
<!--  
echo "# hubbardstreet" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/mirik93/hubbardstreet.git
git push -u origin master
-->